# データの読み込みと各分析に共通の前処理

## Ⅰ. CSVファイルの読み込み  
***
YYYYMM_DataType_data.csv => DataType_YYYYMM  
例：201608_station_data.csvはstation_201608に格納する

In [1]:
# データの読み込み
import numpy as np
import pandas as pd

year_month_list = ['201402', '201408', '201508', '201608']
type_list = ['station', 'status','trip', 'weather' ]
pass_list = [] # csvファイルへのパスを格納

# pass_listの作成
for i in range(len(year_month_list)):
    csv_pass = '../dataset/babs_open_data_year_'
    if i <= 1: 
        csv_pass += '1/' +  year_month_list[i] + '_babs_open_data/'
    else:
        csv_pass += str(i) + '/'
    csv_copy = csv_pass

    for j in range(len(type_list)):
        csv_pass = csv_copy
        csv_pass += year_month_list[i] + '_' + type_list[j] + '_data.csv'
        pass_list.append(csv_pass)       
        
station_201402 = pd.read_csv(pass_list[0])
status_201402 = pd.read_csv(pass_list[1])
trip_201402 = pd.read_csv(pass_list[2])
weather_201402 = pd.read_csv(pass_list[3])

station_201408 = pd.read_csv(pass_list[4])
status_201408 = pd.read_csv(pass_list[5])
trip_201408 = pd.read_csv(pass_list[6])
weather_201408 = pd.read_csv(pass_list[7])

station_201508 = pd.read_csv(pass_list[8])
status_201508 = pd.read_csv(pass_list[9])
trip_201508 = pd.read_csv(pass_list[10])
weather_201508 = pd.read_csv(pass_list[11])

station_201608 = pd.read_csv(pass_list[12])
status_201608 = pd.read_csv(pass_list[13])
trip_201608 = pd.read_csv(pass_list[14])
weather_201608 = pd.read_csv(pass_list[15])

## Ⅱ. 基本情報の確認と前処理  
***

***
### 全般  
***

**【基本情報】**  
- 201608: from 9/1/15 to 8/31/16  
- 201508: from 9/1/14 to 8/31/15.
- 201408: from 3/1/14 to 8/31/14.
- 201402: from 8/29/13 (system launch) to 2/28/14.

**【前処理】**  
- 3年(4期)分を連結し， station, status, trip, weatherに格納する
- 日時を表すデータをTimeStamp型に(statusはデータ数が膨大ゆえ未処理)  
- 重複データの削除  
- 欠損値(全てNaN)の削除(station_201608は特に欠損値が多い, weatherにもあり)  

***  
### STATUS  
***

**【カラム情報】** 
- station_id:  int  
- bikes_available  
- docks_available ** <= 自転車をおけるスペースの数**  
- time: date and time, PST(Pacific standard time) **<= 1分ごと**   

**【追加情報】**   
- データ数: 17 million -> 18 million -> 37 million -> 36million (201402 -> 201408 -> 201508 -> 201608)  


    
**【前処理】** 
- サービス終了station(21, 22): データ削除  


***  
### STATION 
***

**【カラム情報】** 
- station_id: 2014, 2015 -> int, 2016 -> float
- name: str
- lat: latitude 緯度
- long: longitude 経度
- dockcount: number of total docks at station
- landmark: city (San Francisco, Redwood City, Palo Alto, Mountain View, San Jose)
- installation: original date that station was installed. If station was moved, it is noted below.  

**【追加情報】** 
- データ数: 69 -> 70 -> 70 -> 67(non_null)
- サービスが停止されたstationのデータは存在しない(21, 22など)
- 所在地や名称などが変更されたstationは変更後のデータになっている(26=>90など)  
- 8/29/13以前に設置されていたstationは全て8/29以前は使用不可(201402)
- 所在地の変更情報(idはそのまま) 注: 2016年8月時点で存在するstationのみ  
    - 2016  
        - 30: 9/28/15 <= station_id：最新の所在地に移動した日
        - 33: 9/16/15 
        - 73: 5/19/16
        - **83：<= 欠損データ? 補う必要あり**  
          Station 83: On 9/16/15, this station was renamed from "Mezes Park" to "Mezes" and moved to (37.491405,-122.233051)
    - 2015
        - 23: 10/23/14 <= 前の場所の最終日 + 1 *23は2016年に88に変わってるため考慮の必要性は低い． *
        - 25: 10/23/14 <= これも2016年に90に変更．
        - 49: 2/6/15
        - 69: 3/12/15
        - 72: 6/4/15  
           
- station_id変更情報 注: 2016年8月時点で存在するstationのみ  
    - 2016:  
        - 21 => x  
        - 22 => x  
        - 23 => 88 (7/5/16) <= 本来のID変更日  
        - 24 => 89 (7/5/16)  
        - 25 => **91** (8/4/16)  
        - 26 => **90** (8/4/16)  
        - 83 => station_201608で欠損データ    
    - 2015: 
        - 変更なし
    - 201408: 
        - 84追加


**【前処理】**  
- **8/29/13以前のinstlattionを全て8/29/13に変更(201402のREADME参照)．**


***  
### TRIP  
***

**【カラム情報】** 
- Trip ID: int  
- Duration: **利用時間sec(2016年から1分未満 or 24時間以上は除去されている)**   
- Start Date: date and time, PST   
- Start Station: station_name(str)  
- Start Terminal: station_id(int)
- End Date  
- End Station  
- End Terminal  
- Bike #: ID　of bike used  
- Subscriber Type: Subscriber = annual or 30-day **(30-dayは2015から)** member; Customer = 24-hour or 3-day member    
- Zip Code (郵便番号): **Home zip code of subscriber** (customers can choose to manually enter zip at kiosk however data is unreliable) ** 201408まではannual menbersのみ利用可能**  

**【追加情報】** 
- データ数：144,000 -> 171,000 -> 354,000 -> 314,000  

**【前処理】**  
- 重複・欠損値の削除
- Durationの単位をsecからminに．(小数点以下は四捨五入)
- **2015年以前の1分未満， 24時間以上のtripは除去したほうがいいかも**
- Subscriber: 0, Customer: 1
***  
### WEATHER  
***
**【カラム情報】** 
- Precipitation_In **(降水量)**："numeric, in form x.xx but alpha ""T""= trace when amount less than .01 inch"        
- Cloud_Cover："scale of 0-8, 0=clear" 
- Events"text field - entries: rain, fog, thunderstorm"(2014)
    - replace("others", "4").replace("fog","3").replace("rain", "2").replace("fog-rain", "1").replace("rain-thunderstorm", "0")
- Zip: 
    - 94107 = San Francisco  
    - 94063 = Redwood City  
    - 94301 = Palo Alto  
    - 94041 = Mountain View  
    - 95113 = San Jose  

**【追加情報】** 
- データ数: 920 -> 920 -> 1,825 -> 1,830  
- Daily weather information per service area, provided from Weather Underground in PST
- Weather is listed from north to south (San Francisco, Redwood City, Palo Alto, Mountain View, San Jose).
- No data recorded on 8/8/2015 for 94301 **<= 欠損値**
- Visibility miles**(どれくらい遠くまで見れるか)**: Note-No local Mountain View historical visibility data - reported from Palo Alto station	


**【前処理】**    
- 重複， 欠損値の削除

In [2]:
# weatherの前処理

# カラム名を統一
weather_201402.columns = weather_201608.columns
weather_201408.columns = weather_201608.columns
weather_201508.columns = weather_201608.columns

# 結合
weather = pd.concat([
    weather_201402, weather_201408, weather_201508, weather_201608
]).reset_index(drop=True)

#カラム名にある不要な空白を削除
weather.columns = map(lambda x: x.strip(), weather.columns) 

# 華氏から摂氏に変換． C=(5/9)*(F-32)
weather["Max TemperatureF"] = 5* (weather["Max TemperatureF"] - 32) / 9
weather["Mean TemperatureF"] = 5* (weather["Mean TemperatureF"] - 32) / 9
weather["Min TemperatureF"] = 5* (weather["Min TemperatureF"] - 32) / 9
weather["Max Dew PointF"] = 5* (weather["Max Dew PointF"] - 32) / 9
weather["MeanDew PointF"] = 5* (weather["MeanDew PointF"] - 32) / 9
weather["Min DewpointF"] = 5* (weather["Min DewpointF"] - 32) / 9

# カラム名の変更
weather = weather.rename(columns = {
    "Max TemperatureF":"Max TemperatureC",
    "Mean TemperatureF":"Mean TemperatureC",
    "Min TemperatureF":"Min TemperatureC",
    "Max Dew PointF":"Max Dew PointC",
    "MeanDew PointF":"Mean Dew PointC",
    "Min DewpointF":"Min Dew PointC"
})

# 小文字に統一
weather.Events = weather.Events.str.lower()

# Timestampに．
weather.PDT = pd.to_datetime(weather.PDT)

# 降水量0.1inti以下のTを0で置換後， 数値に変換
weather.loc[weather.PrecipitationIn == "T", "PrecipitationIn"] = 0
weather = weather.assign(PrecipitationIn=pd.to_numeric(weather.PrecipitationIn))

# 欠損値の削除(94301:2015-08-08, 94041:2015-05-01~2015-05-03)
weather.dropna(subset = ["Max TemperatureC"]).isnull().sum()

# EventsのNaNを"others"で置換後， 数字で置換
weather.Events = weather.Events.fillna("others")
weather.Events = weather.Events.str.replace("others", "4").replace("fog","3").replace("rain", "2").replace("fog-rain", "1").replace("rain-thunderstorm", "0").astype(int)

# ZIPをlandmarkに変更(カラム名も)
weather.ZIP = weather.ZIP.replace(94107,"San Francisco").replace(94063,"Redwood City").replace(94301, "Palo Alto").replace(94041, "Mountain View").replace(95113, "San Jose")
weather = weather.rename(columns = {"ZIP":"landmark"})

# 降水量をInchiからmmに変更
weather["PrecipitationMM"] = weather["PrecipitationIn"] * 25.40
weather = weather.drop("PrecipitationIn", axis=1)

weather.head()

,PDT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Max Dew PointC,Mean Dew PointC,Min Dew PointC,Max Humidity,Mean Humidity,Min Humidity,...,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,CloudCover,Events,WindDirDegrees,landmark,PrecipitationMM
0,2013-08-29,23.333333,20.000000,16.111111,16.111111,14.444444,13.333333,93.0,75.0,57.0,...,10.0,10.0,23.0,11.0,28.0,4.0,4,286.0,San Francisco,0.0
1,2013-08-30,25.555556,20.555556,15.555556,16.111111,14.444444,13.333333,90.0,70.0,50.0,...,10.0,7.0,29.0,13.0,35.0,2.0,4,291.0,San Francisco,0.0
2,2013-08-31,21.666667,17.777778,13.888889,13.888889,13.333333,12.222222,93.0,75.0,57.0,...,10.0,10.0,26.0,15.0,31.0,4.0,4,284.0,San Francisco,0.0
3,2013-09-01,23.333333,18.888889,14.444444,15.555556,13.333333,11.666667,87.0,68.0,49.0,...,10.0,10.0,25.0,13.0,29.0,4.0,4,284.0,San Francisco,0.0
4,2013-09-02,23.888889,20.555556,16.666667,16.111111,15.555556,14.444444,93.0,77.0,61.0,...,10.0,6.0,23.0,12.0,30.0,6.0,4,277.0,San Francisco,0.0

In [3]:
# stationの前処理．

# 201608のみ
station = station_201608.dropna()

# station_id = 83を追加
td83 = {"station_id": 83, "name":"Mezes", "lat":37.491405, "long":-122.233051, "dockcount":15,"landmark": "Redwood City", "installation": "2/20/2014"}
station = station.append(td83, ignore_index=True)

# installationをTimeStampに
station.installation = pd.to_datetime(station.installation)

# installationが8/29/13以前の場合は8/29/13に揃える
station.loc[station.installation < pd.to_datetime("8/29/13"), "installation"] = pd.to_datetime("8/29/13")
station.loc[station.installation.isin([]), "installation"] = pd.to_datetime("8/29/13")

# 所在地が変更になったstationはinstallationを最新の所在地の初日に．
# station.loc[station.station_id == 33, "installation"] = pd.Timestamp("9/16/15")
# station.loc[station.station_id == 49, "installation"] = pd.Timestamp("2/6/15")
# station.loc[station.station_id == 69, "installation"] = pd.Timestamp("3/12/15")
# station.loc[station.station_id == 72, "installation"] = pd.Timestamp("6/4/15")

# installationは移動後初日ではなく，最初にできた日．
station.loc[station.station_id == 73, "installation"] = pd.Timestamp("8/21/2013")

station.head()

,station_id,name,lat,long,dockcount,landmark,installation
0,2.0,San Jose Diridon Caltrain Station,37.329732,-121.901782,27.0,San Jose,2013-08-29
1,3.0,San Jose Civic Center,37.330698,-121.888979,15.0,San Jose,2013-08-29
2,4.0,Santa Clara at Almaden,37.333988,-121.894902,11.0,San Jose,2013-08-29
3,5.0,Adobe on Almaden,37.331415,-121.893200,19.0,San Jose,2013-08-29
4,6.0,San Pedro Square,37.336721,-121.894074,15.0,San Jose,2013-08-29

In [4]:
# tripの前処理 

# カラム名を揃える
trip_201402 = trip_201402.rename(columns = { "Subscription Type":"Subscriber Type"})

# 3年分を連結 
trip = pd.concat([
    trip_201402,
    trip_201408,
    trip_201508,
    trip_201608
])

# Subscriber: 0, Customer: 1
trip["Subscriber Type"] = trip["Subscriber Type"].str.replace("Subscriber", "0").replace("Customer","1").astype(int)

# Start Date, End DateをTimeStampに (5分くらいかかる)
trip["Start Date"]= pd.to_datetime(trip["Start Date"])
trip["End Date"]= pd.to_datetime(trip["End Date"])

# Durationの単位をsecからminに． 四捨五入
trip.Duration = round(trip.Duration/60)

# Duration(利用時間)が1分未満or24時間以上のデータを削除(201608と揃えるため)
trip = trip[(trip.Duration <= 60*24) & (1 <= trip.Duration)]

trip.head()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code
0,4576,1.0,2013-08-29 14:13:00,South Van Ness at Market,66,2013-08-29 14:14:00,South Van Ness at Market,66,520,0,94127
1,4607,1.0,2013-08-29 14:42:00,San Jose City Hall,10,2013-08-29 14:43:00,San Jose City Hall,10,661,0,95138
2,4130,1.0,2013-08-29 10:16:00,Mountain View City Hall,27,2013-08-29 10:17:00,Mountain View City Hall,27,48,0,97214
3,4251,1.0,2013-08-29 11:29:00,San Jose City Hall,10,2013-08-29 11:30:00,San Jose City Hall,10,26,0,95060
4,4299,1.0,2013-08-29 12:02:00,South Van Ness at Market,66,2013-08-29 12:04:00,Market at 10th,67,319,0,94103

In [5]:
# statusの前処理

# statusはネットワーク分析に利用するため，201608に存在しないデータも保存．
status = pd.concat([
    status_201402, 
    status_201408,
    status_201508,
    status_201608
])

status.head()

   station_id  bikes_available  docks_available                 time
0           2                2               25  2013/08/29 12:06:01
1           2                2               25  2013/08/29 12:07:01
2           2                2               25  2013/08/29 12:08:01
3           2                2               25  2013/08/29 12:09:01
4           2                2               25  2013/08/29 12:10:01

## Ⅲ. ネットワーク以外の特徴量を表すデータフレームの作成  
***

In [6]:
# 二地点の緯度・経度から距離(km)を返す関数
import numpy as np
from math import sin, cos, sqrt, atan2, radians
R = 6373.0 # approximate radius of earth in km
def calc_distance(lat1, long1, lat2, long2):
    dlon = long2 - long1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c
    return distance

In [7]:
# 201608に存在しないstation(21, 22)のデータは削除 
# ちなみに，ID変更が反映されていない8/4/16~8/24/16のstation_id .isin(23,24,25,26)のデータは存在しない
trip_sub = trip[~trip["Start Terminal"].isin([21, 22, 23, 24, 25, 26])]
trip_sub = trip[~trip["End Terminal"].isin([21, 22, 23, 24, 25, 26])]

# stationテーブルから緯度・経度を取得
position = station[["station_id","landmark", "lat", "long"]]
start_position = position.rename(columns={"station_id":"Start ID", "landmark":"Start Landmark", "lat":"lat1","long":"long1"})
end_position = position.rename(columns={"station_id":"End ID", "landmark":"End Landmark", "lat":"lat2","long":"long2"})

# start_stationの位置情報を追加
start = trip_sub[["Trip ID", "Subscriber Type", "Duration", "Start Date", "Start Terminal"]].copy()
start["Time"] = list(map(lambda x:x.hour, start["Start Date"]))
start["Date"] = list(map(lambda x:x.date(), start["Start Date"])) 
start.rename(columns={"Start Terminal" : "Start ID"}, inplace=True)
features = pd.merge(start, start_position, on="Start ID")

# end_terminalの位置情報を追加
end = trip_sub[["Trip ID", "End Terminal"]].copy() #, "End Date"
end.rename(columns={"End Terminal" : "End ID"}, inplace=True)
features = pd.merge(features, end, on="Trip ID")
features = pd.merge(features, end_position, on="End ID")
features.rename(columns={"Subscriber Type" : "CType"}, inplace=True)

# 距離のカラム(Distance)を追加．
lat1s = np.array(features["lat1"])
long1s = np.array(features["long1"])
lat2s = np.array(features["lat2"])
long2s = np.array(features["long2"])
distances = [calc_distance(lat1, long1, lat2, long2) for (lat1, long1, lat2, long2) in zip(lat1s, long1s, lat2s, long2s)]
features["Distance"] = distances

# 曜日のカラムを追加し(月曜0～日曜6)後， Weekdayをカテゴリに分けてHoridaysカラムを追加． 平日:0, 休日:1とする=>これだけで精度20%くらい上がる 
features["Year Month"] = list(map(lambda x: x.strftime('%Y-%m'), features["Date"]))
features["Month"] = list(map(lambda x: x.month, features["Date"]))
features["Weekday"] = pd.Series(map(lambda x:x.weekday(), features["Date"])) #, index = count.index)
features["Horidays"] = (features["Weekday"] <= 4).astype(int)

#  不要なカラムを削除して並び替え
features = features[["Date","Year Month", "Month", "Weekday","Horidays","Time", 
             "Start ID", "Start Landmark", "End ID", "End Landmark", "CType", "Duration", "Distance" ]] 

# weatherテーブルから特徴量を取得
weather_sub = weather[["PDT", "landmark", "Mean TemperatureC", "PrecipitationMM"]].copy()
weather_sub.rename(columns = {"PDT":"Date", "landmark":"Start Landmark", "Mean TemperatureC":"Mean TempC"}, inplace=True)
weather_sub["Date"] = list(map(lambda x:x.date(), weather_sub["Date"])) 

# 結合 
features = pd.merge(features, weather_sub, on=['Date', 'Start Landmark'])

features.head()

,Date,Year Month,Month,Weekday,Horidays,Time,Start ID,Start Landmark,End ID,End Landmark,CType,Duration,Distance,Mean TempC,PrecipitationMM
0,2013-08-29,2013-08,8,3,1,14,66,San Francisco,66,San Francisco,0,1.0,0.0,20.0,0.0
1,2013-08-29,2013-08,8,3,1,17,66,San Francisco,66,San Francisco,0,2.0,0.0,20.0,0.0
2,2013-08-29,2013-08,8,3,1,21,66,San Francisco,66,San Francisco,0,3.0,0.0,20.0,0.0
3,2013-08-29,2013-08,8,3,1,14,66,San Francisco,66,San Francisco,0,4.0,0.0,20.0,0.0
4,2013-08-29,2013-08,8,3,1,9,66,San Francisco,66,San Francisco,0,17.0,0.0,20.0,0.0